In [2]:
%matplotlib inline
import numpy as np
import pandas as pd

In [23]:
#uncomment the next 3 lines to see documentation for this dataset 
#f = open('./data/bank-additional/bank-additional-names.txt', 'r')
#for line in f.read().splitlines():
#    print(line)

In [168]:
#load in our csv
data_dir = 'data'
bank_data_str = 'bank-additional'
bank_file_full = 'bank-additional-full.csv'
df = pd.read_csv('./'+data_dir+'/'+bank_data_str+'/'+bank_file_full, sep=';',na_values='unknown')

#the head() method will show the first 5 lines of the file
df = df.dropna()
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,139,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

### That's better, now let's explore some of the data

In [160]:
# We can make a new column in our dataframe by passing in 
df['age_bin'] = pd.cut(df['age'], bins=10)

/Users/kevmercu/anaconda3/envs/full_anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [166]:
pd.crosstab(df['age_bin'],df['y'])

y                 no   yes
age_bin
(16.922, 24.8]   665   199
(24.8, 32.6]    7382  1127
(32.6, 40.4]    8729  1031
(40.4, 48.2]    5160   550
(48.2, 56]      3308   434
(56, 63.8]      1074   250
(63.8, 71.6]     156   133
(71.6, 79.4]      97    80
(79.4, 87.2]      41    44
(87.2, 95]        17    11

### So now we can see the rate of conversion for our different age groups, but it doesn't seem like we made our bins very well. How would we make a better choice of binning?

In [167]:
# hints: http://chrisalbon.com/python/pandas_binning_data.html

### Let's suppose we now want to know the traits of the users that are most likely to convert. How can we approach this?

In [171]:
df['y'].value_counts()/df['y'].shape[0]

no     0.873426
yes    0.126574
Name: y, dtype: float64

In [172]:
# It seems that 12% of our users converted, which is pretty awesome ... maybe?

In [ ]:
# Let's just make a plot of the jobs