In [1]:
%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
#css = open('style-table.css').read() + open('style-notebook.css').read()
#HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                  title  year
0  Marzi baraye zendegi  2005
1            Thaar, -al  1984
2              WillFull  2001
3               Paydirt  1981
4        Bolshaya zhizn  1939

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

,title,year,name,type,character,n
0,The Core,2003,Alejandro Abellan,actor,U.S.S. Soldier,NaN
1,Il momento di uccidere,1968,Remo De Angelis,actor,Dago,9
2,Across the Divide,1921,Thomas Delmar,actor,Dago,4
3,Revan,2012,Diego James,actor,Dago,NaN
4,Un homme marche dans la ville,1950,Fabien Loris,actor,Dago,12

### How many movies are listed in the titles dataframe?

In [5]:
total_movies = titles['title'].nunique()
print total_movies

211015

In [6]:
len(titles)

230723

### What are the earliest two films listed in the titles dataframe?

In [19]:
titles_by_year = titles.sort_values(by='year',ascending=True)

In [25]:
titles_by_year.head(2)

                     title  year
145892          Miss Jerry  1894
86168   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [29]:
#separate lines to keep the df around for other uses
hamlet_df = titles[titles['title']=='Hamlet']
hamlet_df.shape[0]

18

### How many movies are titled "North by Northwest"?

In [30]:
# all in one line
titles[titles['title']=='North by Northwest'].shape[0]

1

### When was the first movie titled "Hamlet" made?

In [32]:
#looks like we actually do need the hamlet_df ...
hamlet_df.sort_values(by='year').head(1)

        title  year
69645  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [33]:
titles[titles['title']=='Treasure Island'].sort_values(by='year')

                  title  year
120019  Treasure Island  1918
23036   Treasure Island  1920
69932   Treasure Island  1934
69689   Treasure Island  1950
26328   Treasure Island  1972
106262  Treasure Island  1973
151755  Treasure Island  1985
208925  Treasure Island  1999

### How many movies were made in the year 1950?

In [38]:
# can use len()
len(titles[titles['year']==1950])

1094

### How many movies were made in the year 1960?

In [35]:
# can also use shape
titles[titles['year']==1960].shape[0]

1493

### How many movies were made from 1950 through 1959?

In [39]:
titles[(titles['year']>=1950)&(titles['year']<=1960)].shape[0]

14150

### In what years has a movie titled "Batman" been released?

In [40]:
titles[titles['title'] == 'Batman']['year'].tolist()

[1989, 1943]

### How many roles were there in the movie "Inception"?

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

### But how many roles in the movie "Inception" did receive an "n" value?

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branagh’s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?